{
  "CN": "{{ self_signed_cert.cn }}",
  "key": {
    "algo": "{{ self_signed_cert.key_algo }}",
    "size": {{ self_signed_cert.key_size }}
  },
  "names": [
    {
      "C": "{{ self_signed_cert.country }}",
      "L": "{{ self_signed_cert.location }}",
      "O": "{{ self_signed_cert.organisation }}",
      "OU": "{{ self_signed_cert.organisation_unit }}",
      "ST": "{{ self_signed_cert.state }}"
    }
  ]
}