{
  "CN": "{{ item.cn }}",
  "hosts": [
  {% for host in item.hosts %}
    "{{ host }}"{% if not loop.last %},{% endif %}
  {% endfor %}
  ],
  "key": {
    "algo": "{{ item.keyAlgo }}",
    "size": {{ item.keySize }}
  },
  "names": [
    {
      "C": "{{ item.country }}",
      "L": "{{ item.location }}",
      "O": "{{ item.organisation }}",
      "OU": "{{ item.organisationUnit }}",
      "ST": "{{ item.state }}"
    }
  ]
}