{
  "CN": "{{ ssc.cn }}",
  "hosts": [
  {% for host in ssc.hosts %}
    "{{ host }}"{% if not loop.last %},{% endif %}
  {% endfor %}
  ],
  "key": {
    "algo": "{{ ssc.key_algo }}",
    "size": {{ ssc.key_size }}
  },
  "names": [
    {
      "C": "{{ ssc.country }}",
      "L": "{{ ssc.location }}",
      "O": "{{ ssc.organisation }}",
      "OU": "{{ ssc.organisation_unit }}",
      "ST": "{{ ssc.state }}"
    }
  ]
}